# Logs
npm-debug.log*

# Dependency directories
node_modules/

# Next.js build output
.next/
out/
/test-results/
/playwright-report/
/playwright/.cache/
.swc/

# Editor
.vscode/

# Generated content
.source

.claude/
